<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <context:property-placeholder location="classpath:database.properties"/>

    <!-- <bean id="dataSource" class="org.apache.ibatis.datasource.pooled.PooledDataSource">
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://${url}/{database}?useUnicode=true&amp;characterEncoding=utf-8"/>
        <property name="username" value="${db_user}"/>
        <property name="password" value="${db_passwd}"/>
        <property name="poolPingEnabled" value="true"/>
        <property name="poolPingQuery" value="select now()"/>
        <property name="poolPingConnectionsNotUsedFor" value="25200000"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
    </bean> -->
    
    <bean id="dataSource" class="org.apache.ibatis.datasource.pooled.PooledDataSource">
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://203.195.182.109:3306/fucai?useUnicode=true&amp;characterEncoding=utf-8"/>
        <property name="username" value="fucai"/>
        <property name="password" value="chongqing"/>
        <property name="poolPingEnabled" value="true"/>
        <property name="poolPingQuery" value="select now()"/>
        <property name="poolPingConnectionsNotUsedFor" value="25200000"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <!-- 自动扫描注解方式的bean -->
    <context:component-scan base-package="com.cqfc"/>
    <context:component-scan base-package="com.jami"/>

    <!-- 自动扫描mybatis mapper -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
        <property name="basePackage" value="com.cqfc" />
        <property name="markerInterface" value="com.jami.common.BaseMapper" />
    </bean>

    <!-- 打印性能日志 -->
    <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <property name="proxyTargetClass">
            <value>true</value>
        </property>
        <property name="interceptorNames">
            <list>
                <idref bean="serviceActionMethodInterceptor"/>
            </list>
        </property>
        <property name="beanNames">
            <list>
                <value>*Service</value>
            </list>
        </property>
    </bean>

    <bean id="serviceActionMethodInterceptor" class="com.jami.interceptor.ServiceActionMethodInterceptor">
    </bean>

</beans>