<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	 xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task-3.0.xsd">

	<context:property-placeholder location="classpath:database_${cfg.env}.properties" />

	<!-- <bean id="dataSource" class="org.apache.ibatis.datasource.pooled.PooledDataSource"> 
		<property name="driver" value="com.mysql.jdbc.Driver"/> <property name="url" 
		value="jdbc:mysql://${url}/{database}}?useUnicode=true&amp;characterEncoding=utf-8"/> 
		<property name="username" value="${db_user}"/> <property name="password" value="${db_passwd}"/> 
		<property name="poolPingEnabled" value="true"/> <property name="poolPingQuery" 
		value="select now()"/> <property name="poolPingConnectionsNotUsedFor" value="25200000"/> 
		</bean> <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"> 
		<property name="dataSource" ref="dataSource" /> </bean> -->

	<!-- <bean id="dataSource" class="org.apache.ibatis.datasource.pooled.PooledDataSource"> -->
	<!-- <property name="driver" value="com.mysql.jdbc.Driver" /> -->
	<!-- <property name="url" -->
	<!-- value="jdbc:mysql://203.195.182.109:3306/fucai}?useUnicode=true&amp;characterEncoding=utf-8" 
		/> -->
	<!-- <property name="username" value="fucai" /> -->
	<!-- <property name="password" value="chongqing" /> -->
	<!-- <property name="poolPingEnabled" value="true" /> -->
	<!-- <property name="poolPingQuery" value="select now()" /> -->
	<!-- <property name="poolPingConnectionsNotUsedFor" value="25200000" /> -->
	<!-- </bean> -->


	<bean class="org.apache.ibatis.datasource.pooled.PooledDataSource"
		id="parentDataSource">
		<property name="driver">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="username">
			<value>${db_user}</value>
		</property>
		<property name="password">
			<value>${db_passwd}</value>
		</property>
		<property name="poolPingEnabled" value="true" />
		<property name="poolPingQuery" value="select now()" />
		<property name="poolPingConnectionsNotUsedFor" value="600000" />
	</bean>
	<!-- 以下配置各个数据源的特性 -->
	<!-- 数据库test -->
	<bean parent="parentDataSource" id="master_fucai_user_order_00">
		<property name="url"
			value="jdbc:mysql://${master_fucai_user_order_00}?useUnicode=true&amp;characterEncoding=utf-8">
		</property>
	</bean>
	<!-- 不同的数据库test2 -->
	<bean parent="parentDataSource" id="master_fucai_user_order_01">
		<property name="url"
			value="jdbc:mysql://${master_fucai_user_order_01}?useUnicode=true&amp;characterEncoding=utf-8">
		</property>
	</bean>

	<bean parent="parentDataSource" id="master_fucai_user_order_02">
		<property name="url"
			value="jdbc:mysql://${master_fucai_user_order_02}?useUnicode=true&amp;characterEncoding=utf-8">
		</property>
	</bean>
	<bean parent="parentDataSource" id="master_fucai_user_order_03">
		<property name="url"
			value="jdbc:mysql://${master_fucai_user_order_03}?useUnicode=true&amp;characterEncoding=utf-8">
		</property>
	</bean>
	<bean parent="parentDataSource" id="master_fucai_user_order_04">
		<property name="url"
			value="jdbc:mysql://${master_fucai_user_order_04}?useUnicode=true&amp;characterEncoding=utf-8">
		</property>
	</bean>
	<bean parent="parentDataSource" id="master_fucai_user_order_05">
		<property name="url"
			value="jdbc:mysql://${master_fucai_user_order_05}?useUnicode=true&amp;characterEncoding=utf-8">
		</property>
	</bean>
	<bean parent="parentDataSource" id="master_fucai_user_order_06">
		<property name="url"
			value="jdbc:mysql://${master_fucai_user_order_06}?useUnicode=true&amp;characterEncoding=utf-8">
		</property>
	</bean>
	<bean parent="parentDataSource" id="master_fucai_user_order_07">
		<property name="url"
			value="jdbc:mysql://${master_fucai_user_order_07}?useUnicode=true&amp;characterEncoding=utf-8">
		</property>
	</bean>
	<bean parent="parentDataSource" id="master_fucai_user_order_08">
		<property name="url"
			value="jdbc:mysql://${master_fucai_user_order_08}?useUnicode=true&amp;characterEncoding=utf-8">
		</property>
	</bean>
	<bean parent="parentDataSource" id="master_fucai_user_order_09">
		<property name="url"
			value="jdbc:mysql://${master_fucai_user_order_09}?useUnicode=true&amp;characterEncoding=utf-8">
		</property>
	</bean>

	<bean parent="parentDataSource" id="slave_fucai_user_order_00">
		<property name="url"
			value="jdbc:mysql://${slave_fucai_user_order_00}?useUnicode=true&amp;characterEncoding=utf-8">
		</property>
	</bean>
	<!-- 不同的数据库test2 -->
	<bean parent="parentDataSource" id="slave_fucai_user_order_01">
		<property name="url"
			value="jdbc:mysql://${slave_fucai_user_order_01}?useUnicode=true&amp;characterEncoding=utf-8">
		</property>
	</bean>

	<bean parent="parentDataSource" id="slave_fucai_user_order_02">
		<property name="url"
			value="jdbc:mysql://${slave_fucai_user_order_02}?useUnicode=true&amp;characterEncoding=utf-8">
		</property>
	</bean>
	<bean parent="parentDataSource" id="slave_fucai_user_order_03">
		<property name="url"
			value="jdbc:mysql://${slave_fucai_user_order_03}?useUnicode=true&amp;characterEncoding=utf-8">
		</property>
	</bean>
	<bean parent="parentDataSource" id="slave_fucai_user_order_04">
		<property name="url"
			value="jdbc:mysql://${slave_fucai_user_order_04}?useUnicode=true&amp;characterEncoding=utf-8">
		</property>
	</bean>
	<bean parent="parentDataSource" id="slave_fucai_user_order_05">
		<property name="url"
			value="jdbc:mysql://${slave_fucai_user_order_05}?useUnicode=true&amp;characterEncoding=utf-8">
		</property>
	</bean>
	<bean parent="parentDataSource" id="slave_fucai_user_order_06">
		<property name="url"
			value="jdbc:mysql://${slave_fucai_user_order_06}?useUnicode=true&amp;characterEncoding=utf-8">
		</property>
	</bean>
	<bean parent="parentDataSource" id="slave_fucai_user_order_07">
		<property name="url"
			value="jdbc:mysql://${slave_fucai_user_order_07}?useUnicode=true&amp;characterEncoding=utf-8">
		</property>
	</bean>
	<bean parent="parentDataSource" id="slave_fucai_user_order_08">
		<property name="url"
			value="jdbc:mysql://${slave_fucai_user_order_08}?useUnicode=true&amp;characterEncoding=utf-8">
		</property>
	</bean>
	<bean parent="parentDataSource" id="slave_fucai_user_order_09">
		<property name="url"
			value="jdbc:mysql://${slave_fucai_user_order_09}?useUnicode=true&amp;characterEncoding=utf-8">
		</property>
	</bean>
	<bean parent="parentDataSource" id="master_fucai_count">
		<property name="url"
			value="jdbc:mysql://${master_fucai_count}?useUnicode=true&amp;characterEncoding=utf-8">
		</property>
	</bean>
	
	<bean parent="parentDataSource" id="slave_fucai_count">
		<property name="url"
			value="jdbc:mysql://${slave_fucai_count}?useUnicode=true&amp;characterEncoding=utf-8">
		</property>
	</bean>
	
	
	<bean parent="parentDataSource" id="master_fucai_ticket_winning">
		<property name="url"
			value="jdbc:mysql://${master_fucai_ticket_winning}?useUnicode=true&amp;characterEncoding=utf-8">
		</property>
	</bean>
	
	<bean parent="parentDataSource" id="slave_fucai_ticket_winning">
		<property name="url"
			value="jdbc:mysql://${slave_fucai_ticket_winning}?useUnicode=true&amp;characterEncoding=utf-8">
		</property>
	</bean>
	
	
	
	<bean class="com.jami.util.DynamicDataSource" id="dynamicDataSource">
		<property name="targetDataSources">
			<map key-type="java.lang.String">
				<entry value-ref="master_fucai_user_order_00" key="master_fucai_user_order_00"></entry>
				<entry value-ref="master_fucai_user_order_01" key="master_fucai_user_order_01"></entry>
				<entry value-ref="master_fucai_user_order_02" key="master_fucai_user_order_02"></entry>
				<entry value-ref="master_fucai_user_order_03" key="master_fucai_user_order_03"></entry>
				<entry value-ref="master_fucai_user_order_04" key="master_fucai_user_order_04"></entry>
				<entry value-ref="master_fucai_user_order_05" key="master_fucai_user_order_05"></entry>
				<entry value-ref="master_fucai_user_order_06" key="master_fucai_user_order_06"></entry>
				<entry value-ref="master_fucai_user_order_07" key="master_fucai_user_order_07"></entry>
				<entry value-ref="master_fucai_user_order_08" key="master_fucai_user_order_08"></entry>
				<entry value-ref="master_fucai_user_order_09" key="master_fucai_user_order_09"></entry>
				<entry value-ref="slave_fucai_user_order_00" key="slave_fucai_user_order_00"></entry>
				<entry value-ref="slave_fucai_user_order_01" key="slave_fucai_user_order_01"></entry>
				<entry value-ref="slave_fucai_user_order_02" key="slave_fucai_user_order_02"></entry>
				<entry value-ref="slave_fucai_user_order_03" key="slave_fucai_user_order_03"></entry>
				<entry value-ref="slave_fucai_user_order_04" key="slave_fucai_user_order_04"></entry>
				<entry value-ref="slave_fucai_user_order_05" key="slave_fucai_user_order_05"></entry>
				<entry value-ref="slave_fucai_user_order_06" key="slave_fucai_user_order_06"></entry>
				<entry value-ref="slave_fucai_user_order_07" key="slave_fucai_user_order_07"></entry>
				<entry value-ref="slave_fucai_user_order_08" key="slave_fucai_user_order_08"></entry>
				<entry value-ref="slave_fucai_user_order_09" key="slave_fucai_user_order_09"></entry>
				<entry value-ref="master_fucai_count" key="master_fucai_count"></entry>
				<entry value-ref="slave_fucai_count" key="slave_fucai_count"></entry>
				<entry value-ref="master_fucai_ticket_winning" key="master_fucai_ticket_winning"></entry>
				<entry value-ref="slave_fucai_ticket_winning" key="slave_fucai_ticket_winning"></entry>
			</map>
		</property>
		<property name="defaultTargetDataSource" ref="master_fucai_count">
		</property>
	</bean>
	
	
	<bean id="applicationContextProvider" class="com.jami.common.ApplicationContextProvider"/>
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dynamicDataSource" />
	</bean>

	<bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dynamicDataSource" />
	</bean>
	<bean id="transactionTemplate"
		class="org.springframework.transaction.support.TransactionTemplate">
		<property name="transactionManager">
			<ref local="txManager" />
		</property>
		<property name="isolationLevelName" value="ISOLATION_DEFAULT" />
		<property name="propagationBehaviorName" value="PROPAGATION_REQUIRED" />
	</bean>
	<!-- enable transaction annotation support -->
	<tx:annotation-driven transaction-manager="txManager" />

	<!-- 自动扫描注解方式的bean -->
	<context:component-scan base-package="com.cqfc" />
	<context:component-scan base-package="com.jami" />
	<task:annotation-driven executor="myExecutor"
		scheduler="myScheduler" />
	<task:executor id="myExecutor" pool-size="2" />
	<task:scheduler id="myScheduler" pool-size="10" />
	<!-- 自动扫描mybatis mapper -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
		<property name="basePackage" value="com.cqfc" />
		<property name="markerInterface" value="com.jami.common.BaseMapper" />
	</bean>


	<bean id="addOrderTaskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <!-- 核心线程数，默认为1 -->
        <property name="corePoolSize" value="10" />
        <!-- 最大线程数，默认为Integer.MAX_VALUE -->
        <property name="maxPoolSize" value="20" />
        <!-- 队列最大长度，一般需要设置值>=notifyScheduledMainExecutor.maxNum；默认为Integer.MAX_VALUE -->
        <property name="queueCapacity" value="300" />
        <!-- 线程池维护线程所允许的空闲时间，默认为60s -->
        <property name="keepAliveSeconds" value="300" />
        <!-- 线程池对拒绝任务（无线程可用）的处理策略，目前只支持AbortPolicy、CallerRunsPolicy；默认为后者 -->
        <property name="rejectedExecutionHandler">
            <!-- AbortPolicy:直接抛出java.util.concurrent.RejectedExecutionException异常 -->
            <!-- CallerRunsPolicy:主线程直接执行该任务，执行完之后尝试添加下一个任务到线程池中，可以有效降低向线程池内添加任务的速度 -->
            <!-- DiscardOldestPolicy:抛弃旧的任务、暂不支持；会导致被丢弃的任务无法再次被执行 -->
            <!-- DiscardPolicy:抛弃当前任务、暂不支持；会导致被丢弃的任务无法再次被执行 -->
            <bean class="java.util.concurrent.ThreadPoolExecutor$CallerRunsPolicy" />
        </property>
    </bean>

	<bean id="threadPoolTaskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <!-- 核心线程数，默认为1 -->
        <property name="corePoolSize" value="15" />
        <!-- 最大线程数，默认为Integer.MAX_VALUE -->
        <property name="maxPoolSize" value="40" />
        <!-- 队列最大长度，一般需要设置值>=notifyScheduledMainExecutor.maxNum；默认为Integer.MAX_VALUE -->
        <property name="queueCapacity" value="300" />
        <!-- 线程池维护线程所允许的空闲时间，默认为60s -->
        <property name="keepAliveSeconds" value="300" />
        <!-- 线程池对拒绝任务（无线程可用）的处理策略，目前只支持AbortPolicy、CallerRunsPolicy；默认为后者 -->
        <property name="rejectedExecutionHandler">
            <!-- AbortPolicy:直接抛出java.util.concurrent.RejectedExecutionException异常 -->
            <!-- CallerRunsPolicy:主线程直接执行该任务，执行完之后尝试添加下一个任务到线程池中，可以有效降低向线程池内添加任务的速度 -->
            <!-- DiscardOldestPolicy:抛弃旧的任务、暂不支持；会导致被丢弃的任务无法再次被执行 -->
            <!-- DiscardPolicy:抛弃当前任务、暂不支持；会导致被丢弃的任务无法再次被执行 -->
            <bean class="java.util.concurrent.ThreadPoolExecutor$CallerRunsPolicy" />
        </property>
    </bean>
    
	<!-- 打印性能日志 -->
	<!-- <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator"> 
		<property name="proxyTargetClass"> <value>true</value> </property> <property 
		name="interceptorNames"> <list> <idref bean="serviceActionMethodInterceptor"/> 
		</list> </property> <property name="beanNames"> <list> <value>*Service</value> 
		</list> </property> </bean> -->

	<bean id="serviceActionMethodInterceptor" class="com.jami.interceptor.ServiceActionMethodInterceptor">
	</bean>
	<bean id="builder" class="net.rubyeye.xmemcached.XMemcachedClientBuilder">
		<constructor-arg>
			<list>
				<bean class="java.net.InetSocketAddress">
                    <constructor-arg>
                        <value>${memcached_ip_01}</value>
                    </constructor-arg>
                    <constructor-arg>
                        <value>${memcached_port_01}</value>
                    </constructor-arg>
                </bean>
               <bean class="java.net.InetSocketAddress">
                    <constructor-arg>
                        <value>${memcached_ip_02}</value>
                    </constructor-arg>
                    <constructor-arg>
                        <value>${memcached_port_02}</value>
                    </constructor-arg>
                </bean>
                <bean class="java.net.InetSocketAddress">
                    <constructor-arg>
                        <value>${memcached_ip_03}</value>
                    </constructor-arg>
                    <constructor-arg>
                        <value>${memcached_port_03}</value>
                    </constructor-arg>
                </bean>
                <bean class="java.net.InetSocketAddress">
                    <constructor-arg>
                        <value>${memcached_ip_04}</value>
                    </constructor-arg>
                    <constructor-arg>
                        <value>${memcached_port_04}</value>
                    </constructor-arg>
                </bean>
                <bean class="java.net.InetSocketAddress">
                    <constructor-arg>
                        <value>${memcached_ip_05}</value>
                    </constructor-arg>
                    <constructor-arg>
                        <value>${memcached_port_05}</value>
                    </constructor-arg>
                </bean>
                <bean class="java.net.InetSocketAddress">
                    <constructor-arg>
                        <value>${memcached_ip_06}</value>
                    </constructor-arg>
                    <constructor-arg>
                        <value>${memcached_port_06}</value>
                    </constructor-arg>
                </bean>
                <bean class="java.net.InetSocketAddress">
                    <constructor-arg>
                        <value>${memcached_ip_07}</value>
                    </constructor-arg>
                    <constructor-arg>
                        <value>${memcached_port_07}</value>
                    </constructor-arg>
                </bean> 
			</list>
		</constructor-arg>
	</bean>
	<bean id="memcachedClient" class="net.rubyeye.xmemcached.MemcachedClient"
		factory-bean="builder" factory-method="build" destroy-method="shutdown" />
		
</beans>