<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task-3.0.xsd">

    <context:property-placeholder location="classpath:database.properties"/>

    <context:component-scan base-package="com.cqfc.statistics" />


	<import resource="data_sync_config.xml"/>
    <bean id="rdbDataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://${jdbc.url}/${jdbc.rdb.database}?useUnicode=true&amp;characterEncoding=utf-8"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="idleConnectionTestPeriodInSeconds" value="10"/>
        <property name="idleMaxAgeInMinutes" value="240"/>
        <property name="maxConnectionsPerPartition" value="5"/>
        <property name="minConnectionsPerPartition" value="2"/>
        <property name="statementsCacheSize" value="1000"/>
    </bean>

    <bean id="rdbJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="rdbDataSource"></property>
    </bean>

    <bean id="cqfcDataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://${jdbc.url}/${jdbc.cqfc.database}?useUnicode=true&amp;characterEncoding=utf-8"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="idleConnectionTestPeriodInSeconds" value="10"/>
        <property name="idleMaxAgeInMinutes" value="240"/>
        <property name="maxConnectionsPerPartition" value="5"/>
        <property name="minConnectionsPerPartition" value="2"/>
        <property name="statementsCacheSize" value="1000"/>
    </bean>

    <bean id="cqfcJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="cqfcDataSource"></property>
    </bean>

    <bean id="cqfcfinanceDataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://${jdbc.url}/${jdbc.cqfcfinance.database}?useUnicode=true&amp;characterEncoding=utf-8"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="idleConnectionTestPeriodInSeconds" value="10"/>
        <property name="idleMaxAgeInMinutes" value="240"/>
        <property name="maxConnectionsPerPartition" value="8"/>
        <property name="minConnectionsPerPartition" value="2"/>
        <property name="statementsCacheSize" value="1000"/>
    </bean>

    <bean id="cqfcfinanceJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="cqfcfinanceDataSource"></property>
    </bean>

    <task:annotation-driven executor="myExecutor" scheduler="myScheduler" />
    <!-- 配置最大线程数 -->
    <task:executor id="myExecutor" pool-size="30" />
    <!-- 任务的线程数 -->
    <task:scheduler id="myScheduler" pool-size="20" />

    <context:annotation-config />


    <bean id="applicationContextProvider" class="com.cqfc.statistics.common.ApplicationContextProvider"/>
    <bean id="today" class="com.cqfc.statistics.Today" />
    <bean id="yesterday" class="com.cqfc.statistics.Yesterday" />

    <!--<task:scheduled-tasks>-->
        <!--<task:scheduled ref="StatisticsScheduler" method="t_stat" fixed-delay="5100"></task:scheduled>-->
        <!--<task:scheduled ref="StatisticsScheduler" method="t_stat" fixed-delay="5200"></task:scheduled>-->
        <!--<task:scheduled ref="StatisticsScheduler" method="t_stat_lottery" fixed-delay="5300"></task:scheduled>-->
        <!--<task:scheduled ref="StatisticsScheduler" method="t_user" fixed-delay="5400"></task:scheduled>-->
        <!--<task:scheduled ref="StatisticsScheduler" method="t_deal" fixed-delay="5500"></task:scheduled>-->
        <!--<task:scheduled ref="StatisticsScheduler" method="t_stat_sum" fixed-delay="5600"></task:scheduled>-->
        <!--<task:scheduled ref="StatisticsScheduler" method="t_stat_lottery_sum" fixed-delay="5700"></task:scheduled>-->
    <!--</task:scheduled-tasks>-->
    <task:scheduled-tasks scheduler="myScheduler" >
        <task:scheduled ref="today" method="t_stat" cron="0 0 * * * *"></task:scheduled>
        <task:scheduled ref="today" method="t_stat_lottery" cron="0 1 * * * *"></task:scheduled>
        <task:scheduled ref="today" method="t_user" cron="0 2 * * * *"></task:scheduled>
        <task:scheduled ref="today" method="t_deal" cron="0 3 * * * *"></task:scheduled>
        <task:scheduled ref="today" method="t_stat_user" cron="0 4 * * * *"></task:scheduled>
        <task:scheduled ref="today" method="t_stat_deal" cron="0 5 * * * *"></task:scheduled>
        <task:scheduled ref="today" method="t_user_action" cron="0 40 * * * *" ></task:scheduled> 

<!--  		<task:scheduled ref="yesterday" method="t_user_action" cron="30 0 2 * * *" ></task:scheduled>  -->
  		<task:scheduled ref="yesterday" method="t_stat" cron="0 30 3 * * *"></task:scheduled>
        <task:scheduled ref="yesterday" method="t_stat_lottery" cron="0 31 3 * * *"></task:scheduled>
        <task:scheduled ref="yesterday" method="t_user" cron="0 32 3 * * *"></task:scheduled>
        <task:scheduled ref="yesterday" method="t_deal" cron="0 33 3 * * *"></task:scheduled>
        <task:scheduled ref="yesterday" method="t_stat_deal" cron="0 34 3 * * *"></task:scheduled>
        <task:scheduled ref="yesterday" method="t_stat_user" cron="0 35 3 * * *"></task:scheduled>
        
        <task:scheduled ref="yesterday" method="t_stat" cron="0 30 12 * * *"></task:scheduled>
        <task:scheduled ref="yesterday" method="t_stat_lottery" cron="0 31 12 * * *"></task:scheduled>
        <task:scheduled ref="yesterday" method="t_stat_deal" cron="0 32 12 * * *"></task:scheduled>
        <task:scheduled ref="yesterday" method="t_deal" cron="0 33 12 * * *"></task:scheduled>
    </task:scheduled-tasks>

</beans>